<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  </head>
  <body>
    <div id="app"></div>
    <script src="../js/demo/index.js"></script>
  </body>
</html>