<template>
  <div>
    <md-table v-model="items">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Txid" ><a target="_blank" :href="getTxLink(item.txid)">{{ shortenTxid(item.txid) }}</a></md-table-cell>
        <md-table-cell md-label="To Address" ><a target="_blank" :href="getAddressLink(item.toAddress)">{{ item.toAddress }}</a></md-table-cell>
        <md-table-cell md-label="Amount" >{{ formatAmount(item.amount) }}</md-table-cell>
        <md-table-cell md-label="Time" >{{ formatAmount(item.blockTimestamp) }}</md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import moment from 'moment';
import _ from 'lodash';

import Const from '../../core/common/Const';
import Utils from '../../core/helper/util';
import { formatCoinAmount } from '../../core/helper/formater';

const keyedERC20Tokens = _.keyBy(Const.ETH_CONFIG.tokens, 'symbol');

export default {
  name: 'transactions',
  props: {
    data: {
      type: Array,
      default: () => []
    },
    currentCoinSymbol: {
      type: String
    }
  },
  data () {
    return {
      items: this.data
    }
  },
  watch: {
    data () {
      this.items = this.data;
    }
  },
  computed: {
    isERC20Token () {
      return !!keyedERC20Tokens[this.currentCoinSymbol];
    }
  },
  methods: {
    getAddressLink (address) {
      if (this.isERC20Token) {
        return Utils.getETHExplorerLink_Address(address);
      }

      switch (this.currentCoinSymbol) {
        case Const.COIN.ETH:
          return Utils.getETHExplorerLink_Address(address);
        case Const.COIN.ETC:
          return Utils.getETCExplorerLink_Address(address);
        case Const.COIN.DASH:
          return Utils.getDashExplorerLink_Address(address);
        case Const.COIN.QTUM:
          return Utils.getQtumExplorerLink_Address(address);
        case Const.COIN.NEO:
          return Utils.getNeoExplorerLink_Address(address);
      }
    },
    shortenTxid (txid) {
      return txid.substring(0, 7) + '...';
    },
    formatAmount (amount) {
      return formatCoinAmount(this.currentCoinSymbol, amount);
    },
    formatTime (timestamp) {
      return moment.unix(timestamp).format();
    },
    getTxLink (txid) {
      if (this.isERC20Token) {
        return Utils.getETHExplorerLink_Transaction(txid);
      }

      switch (this.currentCoinSymbol) {
        case Const.COIN.ETH:
          return Utils.getETHExplorerLink_Transaction(txid);
        case Const.COIN.ETC:
          return Utils.getETCExplorerLink_Transaction(txid);
        case Const.COIN.DASH:
          return Utils.getDashExplorerLink_Transaction(txid);
        case Const.COIN.QTUM:
          return Utils.getQtumExplorerLink_Transaction(txid);
        case Const.COIN.NEO:
          return Utils.getNeoExplorerLink_Transaction(txid);
      }
    }
  }
}
</script>
