<template>
  <div>
    <md-table v-model="items">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Address" ><a target="_blank" :href="getAddressLink(item.address)">{{ item.address }}</a></md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import Const from '../../core/common/Const';
import Utils from '../../core/helper/util';

export default {
  name: 'wallet-table',
  props: {
    data: {
      type: Array,
      default: () => []
    },
    coin: {
      type: String
    }
  },
  data () {
    return {
      items: this.data
    }
  },
  watch: {
    data () {
      this.items = this.data;
    }
  },
  methods: {
    getAddressLink (address) {
      switch (this.coin) {
        case Const.COIN.DASH:
          return Utils.getDashExplorerLink_Address(address);
        case Const.COIN.ETH:
          return Utils.getETHExplorerLink_Address(address);
        default:
          return '#';
      }
    }
  }
}
</script>
