<template>
  <div class="wrapper" :class="{'nav-open': $sidebar.showSidebar}">
    <side-bar>
      <sidebar-link to="/wallets">
        <md-icon>content_paste</md-icon>
        <p>Wallets</p>
      </sidebar-link>
      <sidebar-link to="/coin-deposits">
        <md-icon>content_paste</md-icon>
        <p>Coin Deposits</p>
      </sidebar-link>
      <sidebar-link to="/coin-withdrawals">
        <md-icon>content_paste</md-icon>
        <p>Coin Withdrawals</p>
      </sidebar-link>
    </side-bar>

    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content>
      </dashboard-content>

      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
import TopNavbar from './TopNavbar.vue';
import ContentFooter from './ContentFooter.vue';
import DashboardContent from './Content.vue';

export default {
  components: {
    TopNavbar,
    DashboardContent,
    ContentFooter
  },
  created () {
    if (!this.$auth._user) {
      this.$router.push('/login');
    }
  }
}
</script>
