<template>
  <div class="content">
    <div class="md-layout md-gutter">
      <div class="md-layout-item">
        <md-field>
          <label for="coin">Coin</label>
          <md-select @md-selected="getWallet()" v-model="currentCoinSymbol" name="coin" id="coin">
            <md-option :key="coin" v-for="coin in coins" :value="coin">{{ coin }}</md-option>
          </md-select>
        </md-field>
      </div>
      <div class="md-layout-item" v-if="wallets.length">
        <md-field>
          <label for="currentWalletId">Wallet</label>
          <md-select @md-selected="getWalletDeposits()" v-model="currentWalletId" name="currentWalletId" id="currentWalletId">
            <md-option :key="wallet.id" v-for="wallet in wallets" :value="wallet.id">{{ wallet.label }}</md-option>
          </md-select>
        </md-field>
      </div>
      <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
        <md-card class="md-card-plain">
          <md-card-header data-background-color="green">
            <h4 class="title">Deposit transactions list:</h4>
          </md-card-header>
          <md-card-content>
            <transactions :data="transactions" :currentCoinSymbol="currentCoinSymbol" v-if="transactions.length"></transactions>
            <span v-else>Don't have data</span>
          </md-card-content>
          <md-card-actions>
            <b-pagination v-if="transactions.length" :total-rows="page.itemCount" v-model="page.page" @input="getWalletDeposits()" :per-page="page.perPage">
            </b-pagination>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</template>
<script>
import _ from 'lodash';
import WalletRequest from '@/core/request/WalletRequest';
import Const from '@/core/common/Const';
import { Transactions } from '@/components';

const keyedERC20Tokens = _.keyBy(Const.ETH_CONFIG.tokens, 'symbol');

export default {

  data () {
    return {
      coins: _.values(Const.COIN).concat(_.map(Const.ETH_CONFIG.tokens, 'symbol')),
      currentCoinSymbol: Const.COIN.DASH,
      wallets: [],
      currentWalletId: 0,
      toAddress: null,
      amount: 0,
      transactions: [],
      page: {
        perPage: 10,
        page: 1,
        itemCount: 0
      }
    };
  },
  components: {
    Transactions
  },
  methods: {
    getWallet () {
      this.wallets = [];
      const coin = keyedERC20Tokens[this.currentCoinSymbol] ? Const.COIN.ETH : this.currentCoinSymbol;
      WalletRequest.getWallets(coin).then((ret) => {
        this.wallets = ret.wallets;
        if (this.wallets.length > 0) {
          this.currentWalletId = this.wallets[0].id;
        }
        this.getWalletDeposits();
      }).catch((err) => {
        window.EventBus.$emit('EVENT_COMMON_ERROR', err);
      });
    },
    getWalletDeposits () {
      const walletId = this.currentWalletId;
      WalletRequest.getCoinDeposits(this.currentCoinSymbol, walletId, {
        p_limit: this.page.perPage,
        p_offset: (this.page.page - 1) * this.page.perPage
      })
        .then((ret) => {
          this.transactions = ret.deposits;
          this.page.itemCount = ret.count;
        })
        .catch((err) => {
          window.EventBus.$emit('EVENT_COMMON_ERROR', err);
        });
    }
  },
  created () {
    this.getWallet();
  }

}
</script>
