<template>
  <div class="content">
    <div class="md-layout md-gutter">
      <div class="md-layout-item">
        <md-field>
          <label for="coin">Coin</label>
          <md-select @md-selected="getWallet()" v-model="currentCoinSymbol" name="coin" id="coin">
            <md-option :key="coin" v-for="coin in coins" :value="coin">{{ coin }}</md-option>
          </md-select>
        </md-field>
      </div>
      <div class="md-layout-item" v-if="wallets.length">
        <md-field>
          <label for="currentWalletId">Wallet</label>
          <md-select @md-selected="getWalletWithdrawals(currentWalletId)" v-model="currentWalletId" name="currentWalletId" id="currentWalletId">
            <md-option :key="wallet.id" v-for="wallet in wallets" :value="wallet.id">{{ wallet.label }}</md-option>
          </md-select>
        </md-field>
      </div>
      <div class="md-layout-item">
        <md-field>
          <label for="currentWalletId">Send to</label>
          <md-input v-model="toAddress"></md-input>
        </md-field>
      </div>
      <div class="md-layout-item">
        <md-field>
          <label for="currentWalletId">Amount</label>
          <md-input v-model="amount"></md-input>
        </md-field>
      </div>
      <div class="md-layout-item">
        <md-button @click="sendCoins()" class="md-raised"><md-icon >add</md-icon>Generate Address</md-button>
      </div>
      <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
        <md-card class="md-card-plain">
          <md-card-header data-background-color="green">
            <h4 class="title">Withdrawals list:</h4>
          </md-card-header>
          <md-card-content>
            <transactions :data="withdrawals" :currentCoinSymbol="currentCoinSymbol" v-if="withdrawals.length"></transactions>
            <span v-else>Don't have data</span>
          </md-card-content>
          <md-card-actions>
            <b-pagination v-if="withdrawals.length" :total-rows="page.itemCount" v-model="page.page" @input="getWalletWithdrawals(currentWalletId)" :per-page="page.perPage">
            </b-pagination>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</template>
<script>
import _ from 'lodash';
import BN from 'bignumber.js';
import WalletRequest from '@/core/request/WalletRequest';
import Const from '@/core/common/Const';

const keyedERC20Tokens = _.keyBy(Const.ETH_CONFIG.tokens, 'symbol');

export default {

  data () {
    return {
      coins: _.values(Const.COIN).concat(_.map(Const.ETH_CONFIG.tokens, 'symbol')),
      currentCoinSymbol: Const.COIN.DASH,
      wallets: [],
      currentWalletId: 0,
      toAddress: null,
      amount: 0,
      withdrawals: [],
      page: {
        perPage: 10,
        page: 1,
        itemCount: 0
      }
    };
  },

  methods: {
    getWallet () {
      const coin = keyedERC20Tokens[this.currentCoinSymbol] ? Const.COIN.ETH : this.currentCoinSymbol;
      WalletRequest.getWallets(coin).then((ret) => {
        this.wallets = ret.wallets;
        if (this.wallets.length > 0) {
          this.currentWalletId = this.wallets[0].id;
        }
        this.getWalletWithdrawals(this.currentWalletId);
      }).catch((err) => {
        window.EventBus.$emit('EVENT_COMMON_ERROR', err);
      });
    },
    sendCoins () {
      if (!this.currentCoinSymbol) {
        window.EventBus.$emit('EVENT_COMMON_ERROR', 'Please select a token symbol.');
        return;
      }

      if (!this.currentWalletId) {
        window.EventBus.$emit('EVENT_COMMON_ERROR', 'Please select a wallet.');
        return;
      }

      if (!this.toAddress) {
        window.EventBus.$emit('EVENT_COMMON_ERROR', 'Please select a target address.');
        return;
      }

      if (!this.amount) {
        window.EventBus.$emit('EVENT_COMMON_ERROR', 'Please input amount to send.');
        return;
      }

      let decimal = 0;

      if (this.isERC20Token) {
        decimal = keyedERC20Tokens[this.currentCoinSymbol].decimal;
      } else {
        switch (this.currentCoinSymbol) {
          case Const.COIN.DASH:
            decimal = 8;
            break;
          case Const.COIN.QTUM:
            decimal = 8;
            break;
          case Const.COIN.ETH:
            decimal = 18;
            break;
          case Const.COIN.ETC:
            decimal = 18;
            break;
          case Const.COIN.NEO:
            decimal = 0;
            break;
          default:
            throw new Error('Invalid coin: ' + this.currentCoinSymbol);
        }
      }

      const amount = (new BN(this.amount)).multipliedBy(Math.pow(10, decimal)).toString(10);

      WalletRequest.sendCoins(this.currentCoinSymbol, this.currentWalletId, {
        address: this.toAddress,
        amount: amount
      }).then((ret) => {
        this.getWalletWithdrawals(this.currentWalletId);
      }).catch((err) => {
        window.EventBus.$emit('EVENT_COMMON_ERROR', err);
      });
    },
    getWalletWithdrawals (walletId) {
      WalletRequest.getCoinWithdrawals(this.currentCoinSymbol, walletId, {
        p_limit: this.page.perPage,
        p_offset: (this.page.page - 1) * this.page.perPage
      })
        .then((ret) => {
          this.withdrawals = ret.withdrawals;
          this.page.itemCount = ret.count;
        })
        .catch((err) => {
          window.EventBus.$emit('EVENT_COMMON_ERROR', err);
        });
    }
  },
  created () {
    this.getWallet();
  }
}
</script>
