<template>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input v-model="credentials.email" type="text" placeholder="Enter your email/username"/>
        <input type="password" placeholder="Enter your password" v-model="credentials.password"/>
        <button type="button" @click="submit()">login</button>
      </form>
    </div>
  </div>
</template>

<script>

export default {

  data () {
    return {
      credentials: {
        email: 'admin',
        password: '1'
      }
    }
  },
  created () {
    if (this.$auth._user) {
      this.redirectToWallets();
    }
  },
  methods: {
    redirectToWallets () {
      this.$router.push('/wallets');
    },
    submit () {
      if (!this.credentials.email) {
        window.EventBus.$emit('EVENT_COMMON_ERROR', 'Empty email.');
        return;
      }

      if (!this.credentials.email) {
        window.EventBus.$emit('EVENT_COMMON_ERROR', 'Empty password.');
        return;
      }

      this.$auth.login(this.credentials)
        .then(res => {
          this.redirectToWallets();
        });
    }
  }
}
</script>

<style scoped>
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);

  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
