<template>
  <div class="content">
    <div class="md-layout md-gutter">
      <div class="md-layout-item">
        <label for="coin">Coin</label>
        <select v-model="coin" @change="getWallet()">
          <option :key="_coin.name" v-for="_coin in coins" :value="_coin.name">{{ _coin.symbol }}</option>
        </select>
      </div>
      <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
        <md-card class="md-card-plain" v-for="wallet in wallets" :key="wallet.label">
          <md-card-header data-background-color="green">
            <h4 class="title">{{ wallet.label }}</h4>
            <md-button @click="createWalletAddress(wallet.id)" class="md-raised"><md-icon >add</md-icon>Generate Address</md-button>
          </md-card-header>
          <md-card-content>
            <wallet-table :coin="coin" :data="addresses[wallet.id]"></wallet-table>
          </md-card-content>
          <md-card-actions>
            <b-pagination :total-rows="wallet.page.itemCount" v-model="wallet.page.page" @input="getWalletAddresses(wallet.id)" :per-page="wallet.page.perPage">
            </b-pagination>
          </md-card-actions>
        </md-card>
      </div>
      <div class="md-layout-item">
        <md-field>
          <label>Wallet label:</label>
          <md-input v-model="label"></md-input>
        </md-field>
        <md-button @click="generateWallet()" class="md-raised"><md-icon >add</md-icon>Generate Address</md-button>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import Const from '@/core/common/Const';
import WalletRequest from '@/core/request/WalletRequest';
import { WalletTable } from '@/components';

export default {

  data () {
    return {
      label: null,
      coin: Const.COIN.DASH,
      coins: [],
      wallets: [{
        page: {
          perPage: 10,
          page: 1,
          itemCount: 0
        }}],
      addresses: {}
    };
  },
  components: {
    WalletTable
  },
  methods: {
    generateWallet () {
      if (!this.label) {
        window.EventBus.$emit('EVENT_COMMON_ERROR', 'Please input wallet label');
        return;
      }

      WalletRequest.generateWallet(this.coin, {
        label: this.label,
        passphrase: '123'
      }).then(() => {
        this.label = '';
        this.getWallet();
      });
    },
    createWalletAddress (walletId) {
      WalletRequest.createWalletAddress(this.coin, walletId, {})
        .then((ret) => {
          this.getWalletAddresses(walletId);
        });
    },
    getWallet () {
      WalletRequest.getWallets(this.coin)
        .then((ret) => {
          this.wallets = ret.wallets;
          this.wallets.map((item) => {
            item.page = {
              perPage: 10,
              page: 1,
              itemCount: 0
            };
          });
          const walletIds = _.map(this.wallets, 'id');

          _.forEach(walletIds, (walletId) => {
            this.getWalletAddresses(walletId);
          });
        })
        .catch(err => {
          console.error(err);
        });
    },
    getWalletAddresses (walletId) {
      const wallet = this.wallets.find(item => item.id === walletId);
      const params = {
        p_offset: (wallet.page.page - 1) * wallet.page.perPage,
        p_limit: wallet.page.perPage
      };

      WalletRequest.getWalletAddresses(this.coin, walletId, params)
        .then((ret) => {
          this.$set(this.addresses, walletId, ret.addresses)
          wallet.page = {
            page: wallet.page.page,
            perPage: wallet.page.perPage,
            itemCount: ret.count
          }
        });
    },
    addressesByWalletId (walletId) {
      return this.addresses[walletId];
    }
  },
  mounted () {
    this.coins = _.map(_.keys(Const.COIN), (symbol) => {
      return {
        symbol,
        name: Const.COIN[symbol]
      };
    });
    this.getWallet();
  }
}
</script>
<style lang="scss">
  .b-pagination {
    display: inline-block;
    li {
      list-style: none;
      display: inline-block;
      a {
        font-size: 20px !important;
        .active {
          color: white !important;
        }
      }
      span {
        font-size: 20px !important;
      }
    }
  }
</style>
